# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.webp binary
*.mp4 binary
